
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ffe4ec, #ffd6e8, #fff5f8);
}


.container {
  width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(255, 182, 193, 0.4);
}


h1 {
  text-align: center;
  color: #ff69b4;
  font-size: 35px;
  margin-bottom: 25px;
}


.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input-area input[type="text"] {
  flex: 1;
  padding: 12px;
  border: 2px solid #ffc0cb;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
}

.input-area input[type="date"] {
  padding: 12px;
  border: 2px solid #ffc0cb;
  border-radius: 25px;
  outline: none;
  color: #ff69b4;
}


.input-area button {
  background: #ff69b4;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.input-area button:hover {
  background: #ff4fa2;
}


ul {
  list-style: none;
  padding: 0;
}


li {
  background: #fff7fa;
  margin: 15px 0;
  padding: 15px;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 12px rgba(255, 182, 193, 0.3);
}


span {
  font-size: 17px;
  color: #444;
}

small {
  color: #ff69b4;
  font-size: 13px;
}


li div {
  display: flex;
  gap: 12px;
}

li button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 12px;
  background: #ff85b3;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

li button:hover {
  background: #ff5c9d;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.filter-buttons button {
  background-color: #ffb6c1;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.filter-buttons button:hover {
  background-color: #ff69b4;
}

